# Build outputs
dist
.nuxt
.output
storybook-static

# Dependencies
node_modules

# Logs
*.log

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Cached files
.cache
.temp

# Coverage
coverage

# Generated types
*.d.ts

